{% extends "base.html" %}
{% load blog_extras %}
{% load blog_extras cache %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
{% endrow %}
{% include "blog/post-comment.html"%}
{% row %}
    {% col %}
        {% cache 3600 recent_posts post%} <!--3600 is seconds, recent_posts is the name of cache-->
            {% recent_posts post %}       <!--post is the post we're viewing, the posstlist is specific to that post-->  
        {% endcache %}
    {% endcol %}
{% endrow %}

{% endblock %}